:root {
    --primary-color: #007bff;
    --secondary-color: #0056b3;
    --success-color: #28a745; /* Verde para ações de sucesso */
    --danger-color: #dc3545; /* Vermelho para ações de deletar */
    --background-color: #f9f9f9;
    --modal-background: rgba(0, 0, 0, 0.7);
    --white: #ffffff;
    --text-color: #333;
    --input-border: #ccc;
    --hover-color: #0056b3;
    --border-radius: 5px;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
}

h1, h2 {
    text-align: center;
    color: var(--text-color);
}

.input-group {
    margin-bottom: 15px;
}

input[type="text"],
textarea {
    width: calc(100% - 30px);
    padding: 10px;
    border: 1px solid var(--input-border);
    border-radius: var(--border-radius);
    margin-right: 10px;
    font-size: 16px;
}

textarea {
    height: 80px; /* Altura padrão para textarea */
    resize: vertical; /* Permitir redimensionamento somente na vertical */
}

.btn-green {
    background-color: var(--success-color);
    color: var(--white);
}

.btn-red {
    background-color: var(--danger-color);
    color: var(--white);
}

button {
    border: none;
    padding: 10px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button-container {
    display: flex; /* Usar flexbox para alinhamento */
    justify-content: space-between; /* Alinha os filhos em extremos */
    align-items: center; /* Alinha verticalmente no centro */
    margin: 10px 0; /* Um pouco de espaço acima e abaixo */
}

.button-container button {
    flex: 1; /* Para permitir que os botões cresçam */
    margin: 0; /* Remove qualquer margem padrão */
}

.button-container button:not(:last-child) {
    margin-right: 10px; /* Espaçamento entre botões, exceto o último */
}

.button-container button:hover {
    opacity: 0.8; /* Exemplo de efeito hover */
}

.tarefa {
    margin-bottom: 10px;
}

.tarefa.finalizada {
    text-decoration: line-through; /* Tacha as tarefas finalizadas */
    color: gray; /* Opcional: muda a cor do texto para cinza */
}

.atualizacao {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc; /* Adiciona uma borda às atualizações */
    border-radius: var(--border-radius);
}

.dataFinalizacao {
    float: right; /* Alinha à direita */
    font-size: 12px; /* Tamanho da fonte */
    color: gray; /* Cor da data */
    margin-left: 10px; /* Espaçamento antes da data */
}

.tachado {
    text-decoration: line-through; /* Aplica o efeito de tachado */
    color: gray; /* Opcional: muda a cor do texto para cinza */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--modal-background);
}

.modal-content {
    background-color: var(--white);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--input-border);
    width: 80%;
    max-width: 400px;
    border-radius: var(--border-radius);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}
